*{
    margin: 0%;
    padding: 0%;
}
header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-image: url(./fotos/folha.avif) ;
    color: aliceblue;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

body{
    background-color: rgb(0, 129, 86);
}

div{
    margin: 5% 20%;
    padding: 2% 0%;
    background-color: rgba(255, 255, 255, 0.857);
    border-radius: 20px;
    background-image: url(./fotos/dino.jpg);
}

div button{
    padding: 3%;
    border-radius: 10px;
    background-color: rgba(72, 227, 98, 0.791);
    margin-left: 2%;
    margin-top: 1%;
    cursor: pointer;
}

div h2{
    text-align: center;
}
#steg{
    width: 15%;
    float: right;
}
#braq{
    width: 14%;
    float: right;
}
#paras{
    width: 17%;
    float: right;
}
#anqui{
    width: 18%;
    float: right;
}
#trik{
    width: 18%;
    float: right;
}
#oviraptor{
    width: 18%;
    float: right;
}
#giga{
    width: 15%;
    float: right;
}
#ed{
    width: 18%;
    float: right;
}
#argy{
    width: 17%;
    float: right;
}
#espino{
    width: 19%;
    float: right;
}
#diablo{
    width: 14%;
    float: right;
}
#dilo{
    width: 19%;
    float: right;
}
#paqui{
    width: 16%;
    float: right;
}
#lateni{
    width: 14%;
    float: right;
}
#gali{
    width: 14%;
    float: right;
}
#compy{
    width: 15%;
    float: right;
}
#velo{
    width: 16%;
    float: right;
}
#carno{
    width: 18%;
    float: right;
}

@media (max-width: 400px){
    #steg{
        width: 25%;
        float: right;
    }
    #braq{
        width: 22%;
        float: right;
    }
    #paras{
        width: 25%;
        float: right;
    }
    #anqui{
        width: 29%;
        float: right;
    }
    #trik{
        width: 28%;
        float: right;
    }

    div{
        margin: 7% 15%;
        padding: 2% 0%;
    }

}

@media (min-width: 400px) and (max-width:600px){
    #steg{
        width: 23%;
        float: right;
    }
    #braq{
        width: 20%;
        float: right;
    }
    #paras{
        width: 23%;
        float: right;
    }
    #anqui{
        width: 26%;
        float: right;
    }
    #trik{
        width: 25%;
        float: right;
    }

    div{
        margin: 7% 17%;
        padding: 2% 0%;
    }
}

@media (min-width: 600px) and (max-width: 800px){
    #steg{
        width: 19%;
        float: right;
    }
    #braq{
        width: 16%;
        float: right;
    }
    #paras{
        width: 19%;
        float: right;
    }
    #anqui{
        width: 22%;
        float: right;
    }
    #trik{
        width: 21%;
        float: right;
    }

    div{
        margin: 7% 15%;
        padding: 2% 0%;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    #steg{
        width: 16%;
        float: right;
    }
    #braq{
        width: 14%;
        float: right;
    }
    #paras{
        width: 17%;
        float: right;
    }
    #anqui{
        width: 19%;
        float: right;
    }
    #trik{
        width: 18%;
        float: right;
    }

    div{
        margin: 7% 15%;
        padding: 2% 0%;
    }
}